<!doctype html>
<html class="no-js">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Home</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
    <div class="navbar-brand" style="height:75px;">
        <img class="img-responsive"
             src="../public/images/pp258.png" width="22%" style="width:50px;height:50px;"/>
    </div>
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li><a href="#"><i style="font-family:'Times New Roman';font-size:200%;color:darkblue;">Paypal... Payment Made
                        Easy</i></a></li>

        </ul>
    </div>
</div>
<div class="container" id="container" style="white-space:nowrap">
    <div class="panel panel-default">
        <div class="panel-heading" align="center">
            <h3>View Transactions</h3>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table" style="border-top: none">
                    <tr style="border-top: none">
                        <td colspan='2' align="center" style="border-top: none">
                            <a href="sendMoney.html" class="btn btn-primary" role="button">Send Money</a><br>
                        </td>
                    </tr>
                    <tr style="border-top: none">
                        <td colspan='2' align="center" style="border-top: none">
                            <a href="http://designshack.net/" class="btn btn-primary" role="button">View Transaction History</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>